* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
}

main {
  background-color: rgb(248, 240, 230);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: white;
}

.header input {
  width: 150px;
  margin-right: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#evaluation-form , main {
  display: flex;
}

#evaluation-form {
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nome-sobrenome {
  display: flex;
}

#email-casa {
  display: flex;
}

#familia {
  display: flex;
  flex-direction: column;
}

header img {
  width: 100px;
}

footer {
  text-align: center;
}

section {
  padding: 10px;
}
